{{#if logged_in}}
<a href="/blog/post/new">Create New Post</a>
{{/if}}

<!-- Loop over each object in the projects array -->
{{#each blogs as |blog| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <a href="/blog/{{blog.id}}">{{blog.title}}</a>
    </h2>
    <p>Created by {{blog.user.name}} on {{format_date blog.createdAt}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{blog.content}}
    </p>
  </div>
</div>
{{/each}}